@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	text-align: center;
	padding-top: 55px;
}
html, body{
	height: 100%;
	width: 100%;
}
/* navbar starts */
.navbar {
	background-color: #000 !important;
}

.navbar-header{
	background-color: #000 !important;
}
.navbar-collapse{
	background-color: #000 !important;
	float: left;
	margin-left: 1.5em;
}
.navbar-header{
	text-align: center;
	
}
#myNavbar {
	background-size:cover;
	
}
.navbar-brand-box{
	display: inline-block;
}
.navbar-brand {
	font-size: 1.4em;
	color: #fff !important;
	font-weight: bold;
	text-transform: uppercase;
	/*margin-left: 18vw;*/
	margin-top: 1vh;
	display: inline-block;
	float: none !important;
}

.navbar-brand:hover {
	text-decoration: underline;
}

#logo {
	background-color: #fff !important;
	height: 3.8em;
	width: 3.8em;
	border-radius: 5px;
	float: right;
	margin-right: 3%;
	margin-top:1%;
	margin-bottom: 1%;
	padding:1%;
	display: inline-block;
}

.navbar-toggle {
	float: left; 
	margin-left: 0.5em;
}

.nav a {
  	font-size: 1.4em;
	color: #fff !important;
	text-align: center;
	padding-top: 6vh;
	margin-top: 1.5vh; 
	
}

ul.nav a:hover {
	text-decoration: underline;
}

/*user settings screen ends*/

@media (max-width: 767px){
	.nav{
		margin-top: 3.6em !important;
		margin-left: -1em !important;
	}
	.nav a{
		text-align: left;
	}
	.navbar-header{
		z-index: 10;
		opacity: 0.99;
	}
	.navbar-nav{
		width: 55em;
		z-index: 5;
	}
	.navbar-collapse{
		position: absolute;	
        border: 0px solid #000;
	}
	.navbar-toggle{
		margin-left: 1.5em;
		margin-top: 1em;
		
	}
}
@media (min-width: 768px){
	#myNavbar{
		display: inline-block !important;
	}
	.navbar-header{
		float: none;
	}
}
 /*navbar ends*/

/*login screen starts*/
.container{
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	text-overflow: wrap;
}

.login_screen{
	max-width: inherit;
	max-height: inherit;
	height: 100%;
	width:110%;
	margin-left: -5%;
	background-image: url("images/login_background.jpg");
	background-size: cover;
	background-repeat: repeat; 
    background-position: relative;
    overflow-y: hidden; 
	overflow-x: hidden; 
}

#content {
	max-height: 1000px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	height:80%;
}

#lang_selector{
	margin-top: 15%;
	font-size: 1.2em;
}

#eng:hover, #french:hover{
	border-bottom: 1px solid #000;
	cursor: pointer;
}

.fb-login-img {
	width: 50vh;
	height: 13vh;
	margin-left: auto;
	margin-right: auto;
}

.txt {
	margin-top: 2vh;
	font-size: 1.4em;
	clear: both;
}

#email {
	width: 80%;
	margin: auto;
	margin-top: 2vh;
}

#password {
	width: 80%;
	margin: auto;
	margin-top: 2vh;
}

/* --------------max & min height and width for buttons, divs, img -----------------*/
.buttons {
	width: 80%;
	height: 9vh;
	margin: 2vh;
	box-shadow: 1px 1px 2px #808080;
	background-color: #27CCC0;	
	margin-left: auto;
	margin-right: auto;
}

.buttons:hover {
	box-shadow: 1px 1px 2px #808080;
	background-color: #27CCC0;		
}
/*login screen ends*/

/*forgot password screen starts*/
#forgot_password_text{
	font-size: 1.5em;
}
#forgot_password_button{
	width: 90%;
	height: 9vh;
	margin: 2vh;
	box-shadow: 1px 1px 2px #808080;
	background-color: #27CCC0;	
	margin-left: auto;
	margin-right: auto;
}

/*forgot password screen ends*/

/*forgot password form screen starts*/
#forgot_password_form_text{
	margin-top: 100px;
	font-size: 1.5em;
}
#forgot_password_form_text2{
	margin-top: 20px;
	font-size: 1.5em;
}
#forgot_password_form_button{
	width: 90%;
	height: 9vh;
	margin: 2vh;
	box-shadow: 1px 1px 2px #808080;
	background-color: #27CCC0;	
	margin-left: auto;
	margin-right: auto;
}
/*forgot password form screen ends*/

/*sign-up & terms screen starts*/
.response {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

#sign_up_form>input {
	margin-top: 3vh;
	padding-left: 2vh;
	width: 100%;
}

#optional {
	text-align: left;
	margin-left: 5% ;
	margin-bottom: -2vh;
	margin-top: 3vh;
	font-weight: bold;
}

#gender, #province {
	margin-top: 3vh;
}

#sign_up_btn, #terms_btn {
	font-size: 1.5em;
	width: 80%;
	height: 9vh;
	margin: 2vh;
	box-shadow: 1px 1px 2px #808080;
	background-color: #27CCC0;
}

#text_area{
	margin-top: 5vh;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
#checkbox{
	width: 10%;
}

.g-recaptcha {
	max-width: 70px;	
	width:70%;
	margin-left: 7vh;
	margin-top: 2vh;
}
/*sign-up & terms screen ends*/

/*index starts*/
#wrapper{
	/*margin-top: 15px;*/
}
#hours_completed{
	font-size: 1.3em;
}

.all-buttons {
	font-size: 1.5em;
	width: 90%;
	height: 9vh;
	margin: 1vh;
	box-shadow: 1px 1px 2px #808080;
	background-color: #27CCC0;
}
/*index ends*/

/* artwork screen starts */
.headings {
 	border: 1px solid rgba(92,88,88,0.1);
	border-radius: 8px 8px 0 0;
	background: #2C3539 /* #382F2B*/;
	color: #fff;
	margin-top: 1em;
	box-shadow: 
    inset 0 2px 3px rgba(255,255,255,0.2),
    inset 0 -2px 3px rgba(0,0,0,0.2),
    0 1px 1px rgba(255,255,255,0.9);
 }

 .headings h5 {
 	font-size: 1.3em;
 	float: left;
 }

.box1 {
	border: 2px solid #2C3539;
	border-top-width: 1px;
	height: 17vh;
	padding-top: 15px;
	background-color: #fff;
}

.box1:nth-child(even){
	border: 2px solid #2C3539;
	height: 17vh;
	padding-top: 15px;
	background-color: #2C3539;
	color: #fff;
}

.box1:last-child {
	border-radius: 0 0 8px 8px;
	margin-bottom: 2vh;
}

.headings, .box1{
	margin-left: 5%;
	margin-right: 5%;
}

.thumbnail {
	height: 13vh;
	width: 13vh;
	float: left;
}

h6 {
	font-size: 1.2em;
	margin-top: 25px;
}

#percentage{
	float: right;	
}
/*artwork screen ends*/

/*prize screen starts*/
.box{
	height: 5vh;
	width:10%;
	background-color: white;
	z-index: 10;
	margin:0.2%;
	opacity:1;
}

#prize_full_img {
	max-height: 400px;
	max-width: 400px;
	margin-top: 50px;
}
/*prize ends*/

/*bid screen starts*/
#artwork_search{
	margin-top: 3vh;
}

#check_bid, #bid_now {
	font-size: 1.5em;
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	height: 9vh;
	box-shadow: 1px 1px 2px #808080;
	background-color: #27CCC0;
	margin-top: 10px;
}

#winner_text {
	text-transform: capitalize;
	float: left;
	clear: both;
}

#artwork_name {
	text-transform: uppercase;
	float: left;
	clear: both;
	margin-top: -5px;
}

#artwork_pic {
	margin: auto;
	width: 85%;
	height: 55vh;
	border: 1px solid #B6B6B4;
	clear: both;
}

#label_current_bid {
	margin-top: 3vh;
	font-weight: bold;
	float: left;
}

#next_bid {
	font-weight: bold;
	float: left;
}
/*bid screen ends*/


/*hour log starts*/
#start-hour-log, #start-date, #start-time, #end-hour-log,
#end-date, #end-time, #artwork-label, #artwork-dropdown, 
#organization-label, #organization-dropdown, #log-hour-notes{
	margin: 8px 0;
}

#log-hour-btn {
	font-size: 1.5em;
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	height: 9vh;
	box-shadow: 1px 1px 2px #808080;
	background-color: #27CCC0;
	margin-top: 10px;
}


/*hour log ends*/

/*user settings screen starts*/
#team_code{
	margin-top: 40px;
}
#settings_btn {
	font-size: 1.5em;
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	height: 9vh;
	box-shadow: 1px 1px 2px #808080;
	background-color: #27CCC0;
	margin-top: 10px;
}
/*user settings screen ends*/