@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

.strip-btn-box{
	text-align: left;
    float: center;
	width:100%;
	background-color:#000;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.desktop-table{
	background-color: #f8f8f8;
	border: 1px solid #f8f8f8;
}
.desktop-table tr{
	height: 3em !important;
}

