@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');


/*.strip-btn-box{
	text-align: left;
    float: center;
	width:100%;
	background-color:#000;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}*/

.strip-btn{
	width: auto;
	padding: 0.2em 0.5em 0.2em 0.5em;
	height:2em;
	font-size: 0.6em;
	display:inline;
	margin:1.3em 0.7em 1.3em -0.3em;
	font-weight:bold;
	float: center;
	box-shadow: 1px 1px 2px #c4c4c4;
}
.logo{
	height: 2.0em;
}