@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

#email {
	width: 80%;
	margin: auto;
}

#password {
	width: 80%;
	margin: auto;
}

.desktop-form {
	background-color:#000;
	/*width: 60%; */
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	display: inline-block;
	border-bottom: 25px solid #000;
}

th {
	font-weight: bold;
	font-size:0.8em;
	padding-bottom:0.8em;
	padding-top:0.7em;
	background-color: #000;
	text-align: center;

}

td {
	font-size:0.6em;
	height: 2em;
	padding-left: 0.5em;
	border-left: 2px solid #fff;
	border-right: 1px solid #fff;
}

.edit-button {
	width:80% !important;
	margin-right:auto !important;
	margin-left: auto !important;
	height:1.5em;
	font-size:0.9em;
	padding:0;
}

.form-label {
	width:30%; 
	font-size: 0.7em;
	color:#fff;
	text-align: right;
/*	width: 200px;*/
	margin: 3vh 0 0 15%;	
}

.form-input {
	background-color:#eeeeee;
	border:1px solid black;
	margin-left:auto;
	margin-right:10% !important;
    width: 30%;
	font-size: 0.7em;
}

.submit-btn-box{
	text-align: center;
	display: inline-block;
	border: 1.5em solid #000;
}

.strip-btn-box{
	text-align: left;
    float: center;
	width:100%;
	background-color:#000;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}

#org_id_label {
	color:#fff;
	margin: 6vh 2% 4vh 8%;
	font-size: 0.8em;
	width:23%;
}

#admin_org_id {
	background-color:#000;
	border:3px solid #eeeeee;
	color:#FFFFFF;
	margin-left:auto;
	padding: 0.2em 0.5em 0.2em 0.5em;
	width: 18%;
	font-size: 0.7em;
	text-align:right;
	border-radius:5%;
}

#delete_org {
	width:25%;
    height: 2.5em;
	padding:0;
	margin: 6vh 8% auto 0%;
	font-size: 0.6em;
	line-height: 0.4;
}
#addorg{
	border-top: 20px solid transparent;
}

@media (min-width: 320px) and (max-width: 525px){
	.container{
		width: 450px;
	}
	.desktop-form {
		 border-top: 5px solid #000;
	}
	#filep{
		font-size: 0.69em;
	}
}
@media (min-width: 526px) and (max-width: 767px){
	.container{
		width: 590px;
	}
	.desktop-form {
		 border-top: 10px solid #000;
	}
	#filep{
		font-size: 0.71em;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.desktop-form {
		 border-top: 15px solid #000;
	}
	#filep{
		font-size: 0.69em;
	}
	
}
@media (min-width: 992px){
	.desktop-form{
		border-top: 20px solid #000;
	}
	.form-input{
		width: 30%;
	}
	#filep{
		font-size: 0.68em;
	}
}