@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');


.desktop-form {
	background-color:#000;
	/*width: 60%; */
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	display: inline-block;
	border-bottom: 25px solid #000;
}

.form-label {
	width:30%; 
	font-size: 0.7em;
	color:#fff;
	text-align: right;
/*	width: 200px;*/
	margin: 3vh 0 0 15%;	
}

.form-input {
	background-color:#eeeeee;
	border:1px solid black;
	margin-left:auto;
	margin-right:10% !important;
    width: 30%;
	font-size: 0.7em;
}

.submit-btn-box{
	border-top: 1.5em solid #000;
	border-bottom: 1.0em solid #000;
}

.strip-btn-box{
	text-align: left;
    float: center;
	width:100%;
	background-color:#000;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}

@media (min-width: 320px) and (max-width: 525px){
	.container{
		width: 450px;
	}
	.desktop-form {
		 border-top: 5px solid #000;
	}

}
@media (min-width: 526px) and (max-width: 767px){
	.container{
		width: 590px;
	}
	.desktop-form {
		 border-top: 10px solid #000;
	}

}
@media (min-width: 768px) and (max-width: 991px){
	.desktop-form {
		 border-top: 15px solid #000;
	}

	
}
@media (min-width: 992px){
	.desktop-form{
		border-top: 20px solid #000;
	}
	.form-input{
		width: 30%;
	}

}