@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

.strip-btn-box{
	text-align: left;
    float: center;
	width:100%;
	background-color:#000;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
