@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

#email {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
#password {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	
}
.strip-btn-box{
	text-align: left;
    float: center;
	width:100%;
	background-color:#000;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

