@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	text-align: center;
	padding-top: 100px; /* it clears:both for navbar*/
	background-color:#f8f8f8;
}


/* navbar starts */
.navbar-header, .navbar-collapse{
	background-color: #000 !important;
}

#myNavbar {
	background-size:cover;
}

.navbar-brand {
	font-size: 1.4em;
	color: #fff !important;
	font-weight: bold;
	text-transform: uppercase;
	padding: 4vh 5vh 6vh 0;
	float: right;
	
}

.navbar-toggle {
	float: left;
	margin-left: 2vh;
	margin-top:2vh;
}

.navbar-brand:hover {
	text-decoration: underline;
}

.nav a {
  	font-size: 1.4em;
	color: #fff !important;
	text-align: center;
	padding-top: 5%;
}

ul.nav a:hover {
	text-decoration: underline;
}
 /*navbar ends*/

img {
	margin-top: 4vh;
	width: 92%;
	height: 10vh;
	margin-left: auto;
	margin-right: auto;
}

.txt {
	margin-top: 2vh;
	font-size: 1.4em;
}


/* Desktop Admin CSS */

.logo {
	background-color: #000;
	padding:1.2vh;
	width:auto;
	height:4em;
	margin:0.5vh
}
.mini-logo {
	height:2.5em;
}

#email {
	width: 80%;
	margin-top: 2vh;
	margin-left: auto;
	margin-right: auto;
}

#password {
	width: 80%;
	margin-top: 2vh;
	margin-left: auto;
	margin-right: auto;
}

.btns {
	width: 80%;
	height: 8vh;
	margin:2vh;
	color: white;
	box-shadow: 1px 1px 2px #808080;
	background-color: #27CCC0;	
}

.desktop-form {
	background-color:#000;
	border: 1px solid black;
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	display: inline-block;
}

.reports-output{
	width: 100%;
	border: 1px solid black;
	display: inline-block;
	background-color: #000;
	color:#fff;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	padding:0.5em 0.8em 0.5em 0.8em;
	height: 15em;
	font-size:0.7em;
}

.centeralign {
	text-align: center;
}

.desktop-btn {
	width:50%;
	height: 2.4em;
	font-size: 0.8em;
	margin: 8vh auto 8vh auto;
	font-weight:bold;
}

.multi-btn {
	width:100%;
	height: 2.4em;
	font-size: 0.8em;
	margin: 8vh auto 8vh auto;
	font-weight:bold;
}

.margin-delete {
	margin:0px;
	padding:0px;
}

.desktop-table {
	background-color:#000;
	border: 1px solid black;
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	color: #fff;

}

thead {
	/*border-left: 0.5em;
	border-right: 0.5em;*/
	/*margin-left: -0.5em;
	margin-right: -0.5em;
	width: 99%;*/
	border-left: 2px solid #fff;
	border-right: 3px solid #fff;
	
}

tbody{
    overflow:auto;
  /*  height:50vh; */
    max-height:50vh; 
}


th {
	font-weight: bold;
	font-size:0.7em;
	padding-bottom:0.8em;
	padding-top:0.7em;
	background-color: #000;
	text-align: center;

}

td {
	font-size:0.5em;
	padding-left: 0.5em;
	border-left: 2px solid #fff;
	border-right: 3px solid #fff;
	height: 2em;
	
}

.mini-pic {
	margin:0.2em 0.5em 0.2em 0.2em;
	height: 2em; 
	width:auto;
}

tr:nth-child(odd) { 
	background-color:#606060; 
}

tr:nth-child(even) {
	background-color:#cccccc;
	color:#000;
}

.edit-button {
	width:93% !important;
	margin-right:auto !important;
	margin-left: auto !important;
	height:1.4em;
	font-size:0.9em;
	padding:0;
}

.form-label {
	color:#fff;
	margin: 3vh 0 0 15%;
	width:35%;
	font-size: 0.7em;
}

.form-input {
	background-color:#eeeeee;
	border:1px solid black;
	margin-left:auto;
	margin-right:10% !important;
	width: 34%;
	font-size: 0.7em;
}

.desktop-input{
	width: 46% !important;
	font-size: 0.7em;
	padding:0.3em;
	background-color:#eeeeee;
	border:1px solid black;
}

.submit-btn-box{
	text-align: center;
}

.form-submit {
	width:15em;
	margin: 8vh 30% 8vh 30%;
	height:5vh;
	font-size: 0.7em;
	line-height: 0.8;
	font-weight:bold;
}

.form-button {
	width:7em;
    height: 1.4em;
	padding: 0;
	margin:0;
	font-size: 0.6em;
	line-height: 0.4;
	z-index:+2;
}

input[type=file] {
	display:inline;
	width:13em !important;
	background-color:transparent;
}

.menu-box{
	margin-left:0px;
	margin-right:0px;
}

.strip-btn{
	width: auto;
	padding: 0.2em 0.5em 0.2em 0.5em;
	height:2em;
	font-size: 0.6em;
	display:inline;
	margin:1.3em 0.7em 1.3em -0.3em;
	font-weight:bold;
	float: center;
	box-shadow: 1px 1px 2px #c4c4c4;
}
.strip-btn-box{
	text-align: left;
    float: center;
	width:100%;
	background-color:#000;
}

#team_id_label {
	color:#fff;
	margin: 6vh 2% 4vh 8%;
	font-size: 0.8em;
	width:23%;
}

#admin_team_id {
	background-color:#000;
	border:3px solid #eeeeee;
	color:#FFFFFF;
	margin-left:auto;
	padding: 0.2em 0.5em 0.2em 0.5em;
	width: 18%;
	font-size: 0.7em;
	text-align:right;
	border-radius:5%;
}

#delete{
	width:25%;
    height: 2.5em;
	padding:0;
	margin: 6vh 8% auto 0%;
	font-size: 0.6em;
	line-height: 0.4;
}
